<!DOCTYPE html>
<html xmlns:th="http://www.thymeleadf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title></title>
</head>
<body>
    <div class="container mt-4">
        <a th:href="@{/new}" class="btn btn-primary">Novo</a>

        <br><br>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="pessoa:${pessoa}">
                <td th:text="${pessoa.id}"></td>
                <td th:text="${pessoa.nome}"></td>
                <td th:text="${pessoa.telefone}"></td>
                <td>
                    <a th:href="@{/editar/}+${pessoa.id}" class="btn btn-warning">Editar</a>
                    <a th:href="@{/excluir/}+${pessoa.id}"class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>